#wrapper > div, header {
    display: flex;
    justify-content: center;
}

header {
    background-color: #A65F40;
    align-items: center;
}

#wrapper, footer {
    padding: 35px 16%;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 35px;
}

#blue-coffee-cup {
  width: 166px; /* 1/3 of the original image's width */
  height: 139px; /* 1/3 of the original image's height */
  border-radius: 50%;
}

h1 { color: white; }

footer {
    color: darkred;
}